html {
	background: #2b2b40;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

a {
	color: $brand-color;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: $secondary-brand-color;
}

img {
	width: 100%;
}


h1 {
	font-weight: 300;
	font-size: 2.4em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 0 0 30px 0;
}

h3 {
	font-weight: 300;
	font-size: 2.0em;
	margin: 20px 0 10px 0;
}

p, address {
	font-size: 1.38em;
	color: #000;
	margin-bottom: 20px;
	line-height: 1.4em;
}

h1 strong, h2 strong, p strong {
	font-weight: 600;
}