$brand-color: #8a0f14;
$secondary-brand-color: #c1272d;

$bg-color: #141210;

$middle-gradient-color: mix($bg-color, $secondary-brand-color, 67%);



// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
